<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="F19_groupRossConnectionString" connectionString="Data Source=139.78.8.180,22;Initial Catalog=F19_groupRoss;Persist Security Info=True;User ID=groupRoss;Password=ABCD123!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>

</configuration>
